@include export-module('toolbar-layout') {
  /*! toolbar layout */
  .e-bigger .e-toolbar,
  .e-toolbar.e-bigger {
    min-height: $tbar-bgr-size;

    .e-icons {
      font-size: 18px;
    }

    &.e-rtl {

      .e-toolbar-items {

        &:not(.e-tbar-pos) {

          .e-toolbar-item:first-child {
            margin-left: 0;
            margin-right: $tbar-item-bgr-mrgn;
          }
      }
      }
    }

    .e-hor-nav {
      min-height: $tbar-bgr-size;
      min-width: $tbar-nav-bgr-width;
    }

    .e-toolbar-item {

      .e-tbar-btn-text {
        line-height: inherit;
      }
    }

    .e-toolbar-pop {

      .e-toolbar-item {

        &:not(.e-separator) {
          min-width: 48px;
          padding: $tbar-item-pop-bgr-padding;
          }

        .e-icons {
          min-width: $tbar-btn-icon-bgr-width;
        }

        .e-tbar-btn.e-btn {
          min-height: $tbar-btn-pop-bgr-minheight;
          padding: $tbar-pop-btn-bgr-padding;

          .e-icons {
            margin-left: $tbar-zero-value;
            padding: $tbar-pop-icon-bgr-padding;
          }
         }
     }
    }

    .e-toolbar-items {
      min-height: $tbar-bgr-size;

      .e-toolbar-left {

        .e-toolbar-item:first-child {
          margin-left: $tbar-item-bgr-mrgn;
        }
      }

      &:not(.e-tbar-pos) {

        .e-toolbar-item:first-child {
          margin-left: $tbar-item-bgr-mrgn;
          }
      }

      .e-toolbar-item {
        min-height: $tbar-bgr-size;

        &:not(.e-separator) {
          min-width: 48px;
          padding: $tbar-item-bgr-padding;
        }

        &.e-separator {
          height: 64%;
          margin: $tbar-separator-bgr-mrgn;
          min-height: $tbar-separator-bgr-height;
        }

        .e-icons {
          min-width: $tbar-btn-icon-bgr-width;
        }

        button.e-btn,
        .e-tbar-btn.e-btn.e-control {
          height: $tbar-btn-bgr-height;
          margin: $tbar-btn-bgr-mrgn;
          min-height: $tbar-btn-bgr-minheight;
          min-width: $tbar-btn-bgr-minwidth;
          padding: $tbar-btn-bgr-padding;
         }
       }
     }
  }

  .e-toolbar {
    display: block;
    height: auto;
    min-height: $tbar-nrml-size;
    position: relative;
    touch-action: none;
    user-select: none;
    white-space: nowrap;

    &.e-toolpop {

      .e-toolbar-items .e-toolbar-item {

        &.e-popup-text .e-tbar-btn-text {
          display:  none;
     }

    }
   }

    &,
    .e-toolbar-items .e-toolbar-item {

      .e-tbar-btn-text {
        display: inline-block;
     }
    }

    &.e-corner {
      border-radius: $tbar-border-radius;
    }

    .e-toolbar-pop {
      border-radius: $tbar-border-radius;
      overflow: hidden;
      position: absolute;

      .e-toolbar-item  {

        .e-tbar-btn.e-btn {
          display: inline-flex;
          justify-content: flex-start;
          min-height: $tbar-btn-pop-nrml-minheight;
          padding: $tbar-pop-btn-nrml-padding;

          .e-icons {
            margin: $tbar-zero-value;
            padding: $tbar-pop-icon-nrml-padding;
            width: auto;
          }
       }

        .e-icons {
          min-width: $tbar-btn-icon-nrml-width;
        }

        &:not(.e-separator) {
          min-width: 34px;
          padding: $tbar-item-pop-nrml-padding;
        }

        &.e-tbtn-align .e-btn.e-control {
          text-align: center;

          .e-icons {
            min-width: 100%;
          }
      }
      }

      .e-toolbar-item {
        height: auto;

        > * {
          height: 100%;
          min-width: 100%;
          text-overflow: ellipsis;
        }
      }

      .e-toolbar-text .e-tbar-btn-text {
        display: none;
      }

      .e-toolpopup {
        text-align: center;
       }

      }

    .e-toolbar-popup {
      text-align: center;
    }

    &.e-rtl {

      .e-toolbar-items {

        &:not(.e-tbar-pos) {

          .e-toolbar-item:first-child {
            margin-left: 0;
            margin-right: $tbar-item-nrml-mrgn;
          }
      }
      }

      .e-hor-nav {
        float: left;
    }
    }

    .e-hor-nav {
      align-items: center;
      cursor: pointer;
      display: flex;
      float: right;
      height: 100%;
      min-height: $tbar-nrml-size;
      overflow: hidden;
      position: relative;
      width: $tbar-nav-nrml-width;
      z-index: 100;

      &.e-ie-align {
        display: table;
        }
      }

    .e-popup-down-icon.e-icons,
    .e-popup-up-icon.e-icons {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      }

    .e-toolbar-items {
      display: inline-block;
      height: 100%;
      min-height: $tbar-nrml-size;
      vertical-align: middle;

      &.e-tbar-pos {
        display: block;

        .e-toolbar-left,
        .e-toolbar-center,
        .e-toolbar-right {
          display: table;
          height: 100%;
          top: 0;
       }

        .e-toolbar-right,
        .e-toolbar-left {
          position: absolute;
        }

        .e-toolbar-right {
          right: 0;
        }

        .e-toolbar-left {
          left: 0;
        }

        .e-toolbar-center {
          margin: 0 auto;
        }
      }

      .e-toolbar-left,
      .e-toolbar-center,
      .e-toolbar-right {
        display: inline-block;
        }

      .e-toolbar-left {

        .e-toolbar-item:first-child {
          margin-left: $tbar-item-nrml-mrgn;
        }
      }

      &:not(.e-tbar-pos) {

        .e-toolbar-item:first-child {
          margin-left: $tbar-item-nrml-mrgn;
        }
      }

      > .e-toolbar-item:last-child,
      > .e-toolbar-right .e-toolbar-item:last-child {
        margin-right: $tbar-item-nrml-mrgn;
     }

      .e-toolbar-item  {
        cursor: pointer;
        display: inline-flex;
        min-height: $tbar-nrml-size;
        vertical-align: middle;
        width: auto;

        .e-icons {
          min-width: $tbar-btn-icon-nrml-width;
        }

        &:not(.e-separator) {
          height: 100%;
          min-width: 34px;
          padding: $tbar-item-nrml-padding;
        }

        &.e-separator {
          margin: $tbar-separator-nrml-mrgn;
          min-height: $tbar-separator-nrml-height;
        }

        input[type='checkbox'] {
          height: auto;
        }

        button.e-btn,
        .e-tbar-btn.e-btn {
          height: $tbar-btn-nrml-height;
          margin: $tbar-btn-nrml-mrgn;
          min-height: $tbar-btn-nrml-minheight;
          min-width: $tbar-btn-nrml-minwidth;

          .e-icons {
            margin: $tbar-zero-value;
            width: auto;
          }
         }

        > * {
          align-self: center;
          height: 100%;
          text-overflow: ellipsis;
        }

        &.e-separator {
          height: 70%;
          vertical-align: middle;

          + .e-separator {
            display: none;
          }

          &:last-of-type,
          &:first-of-type {
            display: none;
         }
          }
        }
    }

    .e-tbar-btn  > :first-child {
      display: inline-block;
      }

    .e-tbar-btn {
      border: $header-gradient-color;
      cursor: pointer;
      font-family: $tbar-btn-family;
      font-size: $tbar-btn-font-size;
      font-weight: $tbar-btn-weight;
      overflow: hidden;
      padding: $tbar-btn-nrml-padding;
      text-align: center;
      text-decoration: none;
      text-transform: none;

      .e-icons {
        font-size: $tbar-btn-font-size;
        vertical-align: middle;
      }

      div {
        vertical-align: middle;
      }

      .e-tbar-btn-text {
        cursor: default;
        display: inline-block;
        font-family: $tbar-btn-family;
        font-size: $tbar-btn-txt-font-size;
        line-height: inherit;
        padding-left: $btn-txt-padding;
        padding-right: $btn-txt-padding;
        vertical-align: middle;
        width: auto;
       }
    }
  }
}
