/*! component's default definitions and variables */

$hscroll-border-type: $border-type;
$hscroll-border-size: $border-size;
$hscroll-box-shadow:  0 0 2px $shadow-color;
$hscroll-border-type-none: $border-type;
$hscroll-border-radius: $border-radius;
$hscroll-default-bg: $default-bg-color  ;
$hscroll-default-border: $default-border-color ;
$hscroll-default-icon-color: $default-icon-color ;
$hscroll-hover-bg:  $hover-bg-color;
$hscroll-hover-font: $hover-font-color ;
$hscroll-hover-border: $hover-border-color ;

$hscroll-active-font-color: $active-font-color ;
$hscroll-press-bg: $active-bg-color ;
$hscroll-press-font: $active-font-color ;

$hscroll-font-family: $font-family;

@mixin hscroll-btn-animation {
  content: '';
}

@mixin hscroll-btn-animation-after {
  content: '';
}
