$hscroll-default-bg: $neutral-white;
$hscroll-press-bg: $theme-lighter;
$hscroll-active-bg: $neutral-lighter;
$hscroll-border-size: 1px;
$hscroll-border-type: none;
$hscroll-border-type-none: none;
$hscroll-box-shadow: none;
$hscroll-hover-bg: $neutral-lighter;
$hscroll-hover-border: '';
$hscroll-default-icon-color: $theme-light-font;
$hscroll-default-border: $hscroll-hover-border;
