@include export-module('h-scroll-theme') {
  /*! h-scroll theme */
  .e-hscroll {

    .e-icons {
      color: $hscroll-default-icon-color;
    }

    &.e-rtl {

      .e-hor-nav  {
        background: $hscroll-default-bg;
        border-left: 0;
        border-right: $hscroll-border-size $hscroll-border-type $hscroll-default-border;

        &:hover {
          background: $hscroll-hover-bg;
          border-color: $hscroll-hover-border;
          color: $hscroll-hover-font;
        }
       }
    }

    .e-hor-nav  {
      background: $hscroll-default-bg;
      border-left: $hscroll-border-size $hscroll-border-type $hscroll-default-border;

      &:focus {
        background: $default-bg-color;
        border-color: $hscroll-hover-border;
        color: $hscroll-hover-font;
      }

      &::after {
        @include hscroll-btn-animation;
      }

      &:active::after {
        @include hscroll-btn-animation-after;
     }

      &:hover {
        background: $hscroll-hover-bg;
        color: $hscroll-hover-font;
      }

      &:active {
        background: $hscroll-press-bg;
        color: $hscroll-active-font-color;
      }
      }
 }
 }
